<div class='container-fluid'>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <!--Logo-->
            <a class="navbar-brand" href="/">Pickle's Cardnival</a>
            <!--Hamburger-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHamburger"
                aria-controls="navbarHamburger" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarHamburger">
                <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" disabled>{{nav_email}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" disabled><img class="card-img-top" src='https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/picklecoin.jpg?alt=media&token=d29b8d33-5d31-4c4d-adb5-0c9eab773e51' name="peter" alt='Avatar 4' style="width:15px;height:15px;background-position-y: top;"> {{balance}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" disabled> | </a>
                    </li>
                    <!--Menu Drop 1-->
                    <li class="nav-item dropdown" style="{{logged_in}}">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Login Portal</a>
                        <!--Drop Menu + Animation-->
                        <div class="dropdown-menu bg-light">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/">Register</a>
                        </div>
                    </li>
                    <!--End of Menu Drop 1-->
                    <!--Menu Drop 2-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Games</a>
                        <!--Drop Menu + Animation-->
                        <div class="dropdown-menu bg-light">
                            <a class="dropdown-item" href="/deck">Big or Small</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/gameportal'>Game Portal</a>
                    </li>
                    <!--End of Menu Drop 2-->
                    <!--Menu Drop 3-->
                    <li class="nav-item">
                        <a class="nav-link" href="/store" disabled>Store</a>
                    </li>
                    <!--End of Menu Drop 3-->
                    <li class="nav-item">
                        <a class="nav-link" href="/rankings">Rankings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Account</a>
                        <!--Drop Menu + Animation-->
                        <div class="dropdown-menu bg-light">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <form class="form-inline" method='POST' action="/signout">
                                <button class="dropdown-item" type="submit" value="Sign-out">Sign Out</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<!--End of Header-->