<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title><!--Profile-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background:url('https://us.123rf.com/450wm/yamabikay/yamabikay1612/yamabikay161200085/69448418-poker-table-felt-background-high-resolution-photo-.jpg?ver=6')">


#Profile content
<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div align="left">
                    <br>
                    <h2 class="card-title" align="center">Profile</h2>
                    <br>
                    <hr class="my-4">
                </div>
                <form>
                    <!--<h5 align="left">Profile Picture</h5><br>-->
                    <img class="card-img-top" src=url("https://www.pexels.com/photo/programming-code-abstract-screen-of-software-developer-2194062/") alt="Profile pic" style="max-width: 300px; max-height: 300px">
                    <div class="form-inline">
                            <div class="box">Username   </div>
                            <input class="form-control" id="UserName" type="text" placeholder="MyAgile" disabled>
                        </div>
                    <div class="form-inline">
                            <div class="box">Password   </div>
                            <input class="form-control" id="Password" type="text" placeholder="********" disabled>
                            <!-- Button trigger modal -->
                            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PW-edit">-->
                            <!--Edit-->
                            <!--</button>-->
                        </div>

                    <!-- Modal -->
                    <!--<div class="modal fade" id="PW-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                    <!--<div class="modal-dialog" role="document">-->
                    <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                    <!--&lt;!&ndash;<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>&ndash;&gt;-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                    <!--<form class="form-inline">-->
                    <!--<div class="form-inline">-->
                    <!--&lt;!&ndash;<h5&ndash;&gt;-->
                    <!--<label for="inputPassword6">Old Password </label>-->
                    <!--<input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">-->
                    <!--&lt;!&ndash;<small id="passwordHelpInline" class="text-muted">&ndash;&gt;-->
                    <!--&lt;!&ndash;Must be 8-20 characters long.&ndash;&gt;-->
                    <!--&lt;!&ndash;</small>&ndash;&gt;-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                    <!--<label for="New-Password-input">New Password</label>-->
                    <!--<input type="password" id="New-Password-input" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">-->
                    <!--<small id="passwordHelpInline" class="text-muted">-->
                    <!--Must be 8-20 characters long.-->
                    <!--</small>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                    <!--<label for="New-Password-retype">Retype New Password</label>-->
                    <!--<input type="password" id="New-Password-retype" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="form-inline">
                        <div class="box">E-mail   </div>
                        <input class="form-control" id="Email" type="text" placeholder="june@mail.com" disabled>
                    </div>
                    <div class="form-inline">
                        <div class="box">Games played   </div>
                        <input class="form-control" id="Played" type="text" placeholder="3" disabled>
                    </div>
                    <div class="form-inline">
                        <div class="box">Games won   </div>
                        <input class="form-control" id="Won" type="text" placeholder="1" disabled>
                    </div>
                    <div class="form-inline">
                        <div class="box">Balance   </div>
                        <input class="form-control" id="Balance" type="text" placeholder="500" disabled>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>

    </div>



            <!--<div class="box">Country: </div>-->
            <!--<select class="type" id="country">-->
                <!--<option value="">Select a country</option>-->
                <!--<option value="Country1">United States</option>-->
                <!--<option value="Country2">Canada</option>-->
                <!--<option value="Country3">United Kingdom</option>-->
            <!--</select>-->
            <!--<div class="box">Email: </div>-->
            <!--<input class="inputbox" type="email" id="CustEmail"><br>-->
            <!--<div class="box">Feedback: </div>-->
            <!--<textarea class="textarea" rows = 10 cols = 70 id="custFB"></textarea>-->
            <!--<div align="left">-->
                <!--<button class="Button" type="submit" onclick="checkFB()" value="Submit"> Submit</button>-->
            <!--</div>-->
        <!--</form>-->
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></div>

</body>
</html>