<!DOCTYPE html>
<html>
{{> head}}

<body
    background="https://us.123rf.com/450wm/yamabikay/yamabikay1612/yamabikay161200085/69448418-poker-table-felt-background-high-resolution-photo-.jpg?ver=6">
    {{> header}}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form class="container" id="form2" method="GET" action="/deck">
                <h1>Want to play the game?</h1>
                <input type="submit" value="Play Big or Small">
                </form>
            </div>
            <div class="col">
                <form class="container" id="form1" method="GET" action="/rankings">
                    <!--<div class="container">-->
                    <input style="margin: 0 auto;display: block;" type="submit" value="Rankings">
                    <!--</div>-->
                </form>
            </div>
            <div class="col">
                <form class="container" id="form1" method="POST" action="/signout">
                    <!--<div class="container">-->
                    <input style="margin: 0 auto;display: block;" type="submit" value="Sign-out">
                    <!--</div>-->
                </form>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <br>
        <br>
    </div>
    {{> footer}}
</body>

</html>