<!DOCTYPE html>
<html>
{{> header}}

<body background="https://uploads-ssl.webflow.com/5a578ef6046ca900013759b9/5c1d3e4a9279b3647f22abf6_drdisrespect6.gif"
    style="background-repeat: no-repeat; background-position: center; background-color: black">
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="container" style="background-color:rgba(255,255,255,0.7); border-radius: 0.5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h1 style="text-align: center">Rankings</h1>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <P style="text-align: center;">{{breaklines rankings}}</P>
            </div>
            <div class="col-lg"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form class="container" id="form2" method="GET" action="/deck">
                    <input style="margin: 0 auto;display: block;" type="submit" value="Back to Game">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<div class="row">

    <div class="col"></div>
    <div class="col">
        {{> footer}}
    </div>
    <div class="col"></div>
</div>

</html>