<!DOCTYPE html>
<html>
{{> head}}

<body class="signin">
    {{> header}}
    <br>
    <br>
    <div id='reg-jumbo' class="jumbotron container-fluid">
        <br>
        <br>
        <br>
        <form class="container " id="form1" method="POST" action="/register">
            <h1 class="loginTitles">Register</h1>
            <h4 class="loginTitles">Please fill in this form to create an account.</h4>
            <hr>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <input class="form-control" type="text" placeholder="Enter Username" name="username" id="username">
            </div>
            <br>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input class="form-control" type="text" placeholder="Enter Email" name="email" id="email" required>
            </div>
            <br>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input class="form-control" type="password" placeholder="Enter Password" name="password" id="password"
                    required>
            </div>
            <br>
            <button class="btn btn-info btn-lg" style="width:100%" type="submit" value="Register">Register</button>
        </form>
        <h5 style="text-align:center; color:lightgreen;">{{success}}</h5>
        <h5 style="text-align:center; color:red;">{{failed}}</h5>
        <hr class='my-2'>
        <div class="container" style="justify-content:center">
            <form id="form2" method="GET" action="/login">
                <button class="btn btn-lg btn-success" style="width:100%" type="submit" value="Login Here">Already have
                    an account? Click here to login!</button>
            </form>
        </div>

    </div>

</body>
{{> footer}}

</html>