<html>
{{> head}}

<body>
    {{> header}}
    <br><br>
    <form action="/buy" method="post">
        <div id="storebg" class="jumbotron container-fluid">
            <div class="row">
                {{{result}}}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-pp-list" data-toggle="list"
                            href="#list-pp" role="tab" aria-controls="pp">Profile Pictures</a>
                        <a class="list-group-item list-group-item-action" id="list-bgm-list" data-toggle="list"
                            href="#list-bgm" role="tab" aria-controls="bgm">Background Game Music</a>
                        <a class="list-group-item list-group-item-action" id="list-cardback-list" data-toggle="list"
                            href="#list-cardback" role="tab" aria-controls="cardback">Cardbacks</a>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-pp" role="tabpanel" aria-labelledby="list-pp-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="default">Default</div>
                                    <img class="card-img-top" src='asset/default.jpg' name="default" alt='Avatar 2'>
                                    <div class="card-body">description here</div>
                                    <button class="btn btn-success" name="url"
                                        value="default,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/default.jpg?alt=media&token=8579b809-6edc-442d-9363-c4a1688a4d1a,profile_pictures,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">Thanos</div>
                                    <img class="card-img-top" src='asset/thanos.jpg' name="thanos" alt='Avatar 1'>
                                    <div class="card-body">description here</div>
                                    <button class="btn btn-success" name="url"
                                        value="thanos,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/thanos.jpg?alt=media&token=d3ff7293-0ea9-4bae-805e-a7c59c7210ae,profile_pictures,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="tony">Tony</div>
                                    <img class="card-img-top" src='asset/tony.jpg' name="tony" alt='Avatar 3'>
                                    <div class="card-body">description here</div>
                                    <button class="btn btn-success" name="url"
                                        value="tony,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/tony.jpg?alt=media&token=52382444-71be-4b6d-8e7c-b6d034f41796,profile_pictures,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="tony">Tony</div>
                                    <img class="card-img-top" src='asset/tony.jpg' name="tony" alt='Avatar 3'>
                                    <div class="card-body">description here</div>
                                    <button class="btn btn-success" name="url"
                                        value="tony,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/tony.jpg?alt=media&token=52382444-71be-4b6d-8e7c-b6d034f41796,profile_pictures,500">500
                                        Pickle Tokens</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="peter">Peter</div>
                                    <img class="card-img-top" src='asset/peter.jpg' name="peter" alt='Avatar 4'>
                                    <div class="card-body">description here</div>
                                    <button class="btn btn-success" name="url"
                                        value="peter,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/peter.jpg?alt=media&token=a7aba130-b754-422f-bf86-cfdc226597b8,profile_pictures,500">500
                                        Pickle Tokens</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-bgm" role="tabpanel" aria-labelledby="list-bgm">
                    <div class="card col-lg-12">
                        <div class="card-body">
                            <div class="row">
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">MERRY GO</div>
                                    <audio id="myaudio" controls="controls">
                                        <source src="/audio/merrygo.mp3" type="audio/mpeg">
                                    </audio>
                                    <div class="card-body">Merry Go</div>
                                    <button class="btn btn-success" name="url"
                                        value="Merry Go,/audio/merrygo.mp3,music,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">DANK ENGINE</div>
                                    <audio id="myaudio" controls="controls">
                                        <source src="/audio/dankengine.mp3" type="audio/mpeg">
                                    </audio>
                                    <div class="card-body">Dank Engine</div>
                                    <button class="btn btn-success" name="url"
                                        value="Dank Engine,/audio/dankengine.mp3,music,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">MTN King</div>
                                    <audio id="myaudio" controls="controls">
                                        <source src="/audio/hallofmtnking_midi.mp3" type="audio/mpeg">
                                    </audio>
                                    <div class="card-body">MTN King</div>
                                    <button class="btn btn-success" name="url"
                                        value="MTN King,/audio/hallofmtnking_midi.mp3,music,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">TITANIC</div>
                                    <audio id="myaudio" controls="controls">
                                        <source src="/audio/titanic_rcdr.mp3" type="audio/mpeg">
                                    </audio>
                                    <div class="card-body">Titanic</div>
                                    <button class="btn btn-success" name="url"
                                        value="Titanic Official,/audio/titanic_rcdr.mp3,music,500">500
                                        Pickle Tokens</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="card col-lg-3 storeitem">
                                    <div class="card-title" name="name" value="thanos">Trolol</div>
                                    <audio id="myaudio" controls="controls">
                                        <source src="/audio/trolol.mp3" type="audio/mpeg">
                                    </audio>
                                    <div class="card-body">Trolol Guy</div>
                                    <button class="btn btn-success" name="url"
                                        value="Trolol,/audio/trolol.mp3,music,500">500
                                        Pickle Tokens</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-cardback" role="tabpanel" aria-labelledby="list-cardback">
                    <div class="card col-lg-12">
                        <div class="card-body">
                            <div class="row">
                                <div class="card col-lg-2 storeitem">
                                    <div class="card-title" name="name" value="thanos">Ditto Cardback</div>
                                    <img class="card-img-top gamecard" src="img/cardbacks/dittodoll.jpg" name="ditto"
                                        alt='Cardback 1'>
                                    <div class="card-body">Ditto</div>
                                    <button class="btn btn-success" name="url"
                                        value="Ditto-Cardback,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/dittodoll.jpg?alt=media&token=98ac9adb-1bd9-4c38-91a1-4bb17ac12adc,cardback,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-2 storeitem">
                                    <div class="card-title" name="name" value="default">Thanos Cardback</div>
                                    <img class="card-img-top gamecard" src='img/cardbacks/thanos_cardback.jpg'
                                        name="default" alt='Cardback 2'>
                                    <div class="card-body">Thanos</div>
                                    <button class="btn btn-success" name="url"
                                        value="Thanos-Cardback,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/thanos_cardback.jpg?alt=media&token=14af9ab0-565e-4fa4-af45-04264aea2d74,cardback,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-2 storeitem">
                                    <div class="card-title" name="name" value="tony">M-46 Cardback</div>
                                    <img class="card-img-top gamecard" src='img/cardbacks/im_cardback.jpg' name="tony"
                                        alt='Cardback 3'>
                                    <div class="card-body">M46</div>
                                    <button class="btn btn-success" name="url"
                                        value="M46-Cardback,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/im_cardback.jpg?alt=media&token=55814a43-e298-4c53-b59e-bde68341280d,cardback,500">500
                                        Pickle Tokens</button>
                                </div>
                                <div class="card col-lg-2 storeitem">
                                    <div class="card-title" name="name" value="peter">Iron Spider Cardback</div>
                                    <img class="card-img-top gamecard" src='img/cardbacks/ispider_cardback.jpg'
                                        name="peter" alt='Cardback 4'>
                                    <div class="card-body">Iron Spider</div>
                                    <button class="btn btn-success" name="url"
                                        value="Iron-Spider-Cardback,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/ispider_cardback.jpg?alt=media&token=bb5ba8e7-00e7-419e-a16a-b030f8ce8c84,cardback,500">500
                                        Pickle Tokens</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{> footer}}
    <script>
        var audio = document.getElementById("myaudio");
        audio.volume = 0.2;
        $(window).load(function () {
            $('#alertModal').modal('show');
        });
        window.addEventListener("play", function(evt)
        {
            if(window.$_currentlyPlaying)
            {
                window.$_currentlyPlaying.pause();
            } 
            window.$_currentlyPlaying = evt.target;
        }, true);
    </script>
</body>

</html>