<html>
<!--Replace Head-->
{{> head}}

<body>
    {{> header}}
    <br><br>
    <div id='custom-jumbo' class="jumbotron container-fluid">
        <form action="/buy" method="post">
            <div class="row">
                <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>{{{result}}}</strong> 
                </div>
            </div>
            <div class="row">
                <div class="card col-lg-3">
                    <div class="card-title" name="name" value="thanos">Thanos</div>
                    <img class="card-img-top" src='asset/thanos.jpg' name ="thanos" alt='Avatar 1'>
                    <div class="card-body">500 Pickle Token</div>
                    <button class="btn btn-success" name="url" 
                    value="thanos,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/thanos.jpg?alt=media&token=d3ff7293-0ea9-4bae-805e-a7c59c7210ae,profile_pictures,500">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title" name="name" value="default">Default</div>
                    <img class="card-img-top" src='asset/default.jpg' name ="default" alt='Avatar 2'>
                    <div class="card-body">500 Pickle Token</div>
                    <button class="btn btn-success" name="url" 
                    value="default,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/default.jpg?alt=media&token=8579b809-6edc-442d-9363-c4a1688a4d1a,profile_pictures,500">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title" name="name" value="tony">Tony</div>
                    <img class="card-img-top" src='asset/tony.jpg' name ="tony" alt='Avatar 2'>
                    <div class="card-body">500 Pickle Token</div>
                    <button class="btn btn-success" name="url" 
                    value="tony,https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/tony.jpg?alt=media&token=52382444-71be-4b6d-8e7c-b6d034f41796,profile_pictures,500">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
                <div class="card col-lg-3">
                    <div class="card-title">Avatar 1</div>
                    <img class="card-img-top" src='...' alt='Avatar 1'>
                    <div class="card-body">something</div>
                    <button class="btn btn-success">Buy This!</button>
                </div>
            </div>
        </form>
    </div>

</body>
    {{> footer}}
</html>