<html>
<!--Replace Head-->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='../public/css/main.css' type="text/css">
    <!-- ChartJS CDN 1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" crossorigin="anonymous">
    </script>
    <!-- ChartJS CDN 2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" crossorigin="anonymous">
    </script>
    <!-- ChartJS CDN 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" crossorigin="anonymous"></script>
    <!-- ChartJS CDN 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <!-- Wheel -->
    <script src="https://unpkg.com/konva@3.2.4/konva.min.js"></script>
    <title>Store</title>
</head>
<!--Replace Head-->

<body>
    <!--Replace Header-->
    <div class='container-fluid'>
        <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
                <!--Logo-->
                <a class="navbar-brand" href="/">Pickle's Cardnival</a>
                <!--Hamburger-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHamburger"
                    aria-controls="navbarHamburger" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarHamburger">
                    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" disabled>{{nav_email}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" disabled> | </a>
                        </li>
                        <!--Menu Drop 1-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Login Portal</a>
                            <!--Drop Menu + Animation-->
                            <div class="dropdown-menu bg-light">
                                <a class="dropdown-item" href="/login">Login</a>
                                <a class="dropdown-item" href="/">Register</a>
                            </div>
                        </li>
                        <!--End of Menu Drop 1-->
                        <!--Menu Drop 2-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Games</a>
                            <!--Drop Menu + Animation-->
                            <div class="dropdown-menu bg-light">
                                <a class="dropdown-item" href="/deck">Big or Small</a>
                            </div>
                        </li>
                        <!--End of Menu Drop 2-->
                        <!--Menu Drop 3-->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Store</a>
                        </li>
                        <!--End of Menu Drop 3-->
                        <li class="nav-item">
                            <a class="nav-link" href="/rankings">Rankings</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Account</a>
                            <!--Drop Menu + Animation-->
                            <div class="dropdown-menu bg-light">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <form class="form-inline" method='POST' action="/signout">
                                    <button class="dropdown-item" type="submit" value="Sign-out">Sign Out</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!--Replace Header-->
    <br><br>
    <div id='custom-jumbo' class="jumbotron container-fluid">
        <div class="row">
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
            <div class="card col-lg-3">
                <div class="card-title">Avatar 1</div>
                <img class="card-img-top" src='...' alt='Avatar 1'>
                <div class="card-body">something</div>
                <button class="btn btn-success">Buy This!</button>
            </div>
        </div>
    </div>
    <!--Replace Footer-->
    <footer id='footer' class="navbar-fixed-bottom">
        <div class="container">
            <p>Copyright {{getCurrentYear}} ©</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!--Replace Footer-->
</body>

</html>