/* Global Settings */
div {
    border: red solid 2px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Navbar */
.navbar {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Page Classes */
.signin {
    background-image: url('http://www.4usky.com/data/out/23/164189323-curtain-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loginTitles {
    text-align: center;
    color: white;
}

#reg-jumbo {
    background: rgba(0, 0, 0, 0.55);
    height: 90%;
}

.playcard {
    margin: 0 auto;
    display: block;
}

/* Footer */
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(245, 245, 245);
    color: black;
    text-align: center;
    position: absolute;
    font-size: 18px;
}